.button {
  @include flex(center, center);
  @include text-btn;
  box-sizing: border-box;
  color: $color-text;
  background-color: $color-secondary;
  width: 140px;
  min-height: 30px;
  border-radius: 8px;
  text-decoration: none;
}