.intro {
  @include widthpage;
  box-sizing: border-box;
  padding: 19px 0 0 0;
  position: relative;
  display: grid;
  align-items: start;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  grid-template-rows: repeat(auto-fill, minmax(60px, 1fr));
  grid-template-areas: "header header"
  "label image" 
  "title title" 
  "subtitle subtitle" 
  "board board";

  &__header {
    @include flex;
    flex-direction: row;
    width: 100%;
    min-width: 280px;
    margin: 0 0 43px 0;
    grid-area: header;
  }

  &__header-text {
    color: $color-text;
    font: 400 13px/16px NotoSans;
    letter-spacing: 0.01em;
    display: none;
  }

  &__header-reg {
    @include flex;
    flex-direction: row;
  }

  &__label {
    grid-area: label;
    justify-self: start;
    @include text-label;
    @include flex (center, center);
    width: 63px;
    height: 40px;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: $color-main;
    border-radius: 0 50px 50px 0;
  }

  &__image {
    @include intro-img;
    grid-area: image;
    min-height: 60px;
    min-width: 120px;
    justify-self: end;
  }

  &__board {
    grid-area: board;
    margin: 110px 0 0 0;
  }

  &__title {
    padding: 50px 0 0 0;
  }

  &__subtitle {
    padding: 20px 0 0 0;
  }

  @media screen and (min-width: 562px) {
    &__image {
      min-height: 90px;
      min-width: 180px;
    }
  }

  @media screen and (min-width: $tablet) {
    grid-template-areas: "header header"
    "label label" 
    "title image" 
    "subtitle image" 
    "board image";
    padding: 26px 0 50px 0;

    &__header-text {
      display: block;
      margin: 0 30px 0 0;
    }

    &__title {
      padding: 70px 0 0 0;
    }

    &__subtitle {
      padding: 40px 0 0 0;
    }

    &__image {
      min-width: 260px;
      min-height: 520px;
      align-self: end;
    }

    &__board {
      justify-self: start;
      align-self: end;
      margin: 212px 0 0 0;
    }

    &__label {
      width: 84px;
      height: 50px;
    }
  }
  @media screen and (min-width: $laptop) {
    padding: 30px 0 124px 0;
    grid-template-areas: "header header"
    "label image" 
    "title image" 
    "subtitle image" 
    "board image";

    &__header {
      margin: 0 0 28px 0;
    }

    &__board {
      margin: 182px 0 0 0;
      align-self: start;
    }

    &__header-text {
      font-size: 15px;
      line-height: 17px;
    }

    &__image {
      height: 640px;
      width: 640px;
      margin-right: 0;
    }
  }
}