.swiper {
min-width: 280px;
width: 100vw;

  &-slide {
    background-position: center;
    background-size: cover;
    width: 280px;
  }

  &-image {
    display: block;
    width: 280px;
    height: 280px;
    object-fit: cover;
    object-position: top center;
    filter: grayscale(100%);
    border-radius: 15px;
  }

  &__bullet {
    @include bullet;
  }
  
  &__bullet-active {
    @include bullet-active;
  }
  
  &__pagination {
    transition: .3s opacity;
    transform: translate3d(0,0,0);
    z-index: 10;
    width: 100%;
    max-width: 280px;
    line-height: 0;
    text-align: center;
  }

  &__title {
    @include name;
    text-align: center;
    margin: 20px 0 0 0;
    z-index: 100;
    max-width: 280px;
  }

  &__subtitle {
    @include paragraph;
    max-width: 280px;
    text-align: center;
    margin: 5px 0 0 0;
  }

  &-image:hover {
    filter: grayscale(0); 
  }

  @media screen and (min-width: $tablet) {
    margin-right: -50px;
    &__pagination {
      display: none;
    } 

    &-image {
      width: 320px;
      height: 320px;
    }

    &-slide {
      max-width: 320px;
    }

    &__title, &__subtitle {
      text-align: start;
    }
  }

}