.swiper {
  width: 280px;
  height: 344px;
  padding: 60px 0 0 0;

  &-slide {
    background-position: center;
    background-size: cover;
    width: 280px;
    height: 280px;
  }

  &-image {
    display: block;
    width: 100%;
    object-fit: cover;
  }

  &-pagination-bullet {
    background-color: rgb(255, 255, 255);
  }
  
  &-pagination-bullet-active {
    background-color: rgba(255, 255, 255, 1);
  }
  
  &-pagination-horizontal {
    top: 412px;
    bottom: 0;
  }

  &__title {
    @include name;
    text-align: center;
    margin: 20px 0 0 0;
  }

  &__subtitle {
    @include paragraph;
    text-align: center;
    margin: 5px 0 0 0;
  }
}