.swiper {
  width: 280px;
  height: 382px;
  padding: 30px;

  &-slide {
    background-position: center;
    background-size: cover;
    width: 280px;
    height: 280px;
  }

  &-image {
    display: block;
    width: 100%;
    object-fit: cover;
  }

  &-pagination-bullet {
    background-color: rgba(255, 255, 255, 0.2);
  }

  &-pagination-bullet-active {
    background-color: rgba(255, 255, 255, 1);
  }
}