@mixin block-title {
  font: $text-title;
  color: $color-text;
}

@mixin paragraph {
  font: $text-paragraph;
  color: $color-text;
}

@mixin name {
  font: $text-name;
  color: $color-text;
  letter-spacing: 0.055em;
  text-transform: uppercase;
}

@mixin text-btn {
  font: $text-btn;
  color: $color-text;
  letter-spacing: 0.01em;
}

@mixin text-label {
  font: $text-label;
  color: $color-text;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@mixin flex ($align: center, $justify: space-between) {
  display: flex;
  flex-direction: row;
  justify-content: $justify;
  align-items: $align;
}

@mixin backgroung-img {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin intro-img {
  @include backgroung-img;
  background-image: url(../images/intro-image-320.svg);
  
  @media screen and (min-width: $tablet){
    background-image: url(../images/intro-image-768.svg);
  }

  @media screen and (min-width: $laptop){
    background-image: url(../images/intro-image-1024.svg);
  }
}