// цвета
$color-main: #5036E6;
$color-secondary: #009465;
$color-text: #fff;
$color-background: #000;
$color-active-btn: #066C4C;
$color-reg-input: #1A1A1A;
//текст
$text-title: 600 40px/36px NotoSans;
$text-paragraph: 400 12px/16px NotoSans;
$text-name: 400 18px/23px NotoSans;
$text-btn: 600 10px/18px NotoSans;
$text-label: 400 12px/11px NotoSans;
$text-copy: 400 12px/12px NotoSans;
$text-registration: 400 12px/12px NotoSans;
$text-registration-title: 600 30px/27px NotoSans;
$text-placeholder: 400 15px/18px NotoSans;
//разрешение
$tablet: 768px;
$laptop: 1024px;
$desktop: 1440px;