// цвета
$color-main: #5036E6;
$color-secondary: #009465;
$color-text: #fff;
$color-background: #000;
//текст
$text-title: 600 40px/36px NotoSans;
$text-paragraph: 400 12px/16px NotoSans;
$text-name: 400 22px/29px NotoSans;
$text-btn: 600 10px/18px NotoSans;
$text-label: 400 12px/11px NotoSans;
//разрешение
$tablet: 768px;
$laptop: 1024px;
$desktop: 1440px;
$--swiper-theme-color:#fff;