// цвета
$color-main: #5036E6;
$color-secondary: #009465;
$color-text: #fff;
$color-background: #000;
//текст
$text-title: 600 70px/63px NotoSans;
$text-paragraph: 400 20px/26px NotoSans;
$text-name: 400 22px/29px NotoSans;
$text-btn: 600 10px/18px NotoSans;