@import url(https://unpkg.com/swiper/swiper-bundle.min.css);
@import url(./vendor/normalize.css);
@font-face {
  font-family: 'NotoSans';
  src: url(./vendor/fonts/NotoSans.woff) format("woff");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'NotoSans';
  src: url(./vendor/fonts/NotoSans-Bold.woff) format("woff");
  font-weight: 600;
  font-style: normal; }
.title {
  font: 600 40px/36px NotoSans;
  color: #fff;
  margin: 0;
  grid-area: title; }
  @media screen and (min-width: 768px) {
    .title {
      font-size: 70px;
      line-height: 90%; } }

.subtitle {
  font: 400 12px/16px NotoSans;
  color: #fff;
  margin: 0;
  grid-area: subtitle; }
  @media screen and (min-width: 768px) {
    .subtitle {
      font-size: 20px;
      line-height: 130%; } }

.board {
  width: 100%;
  min-width: 280px;
  max-width: 416px;
  min-height: 70px;
  max-height: 104px;
  background-repeat: repeat;
  background-image: url(../images/square.svg); }

.body {
  margin: 0 auto;
  min-width: 320px;
  background-color: #000; }

.main {
  overflow: hidden; }

.intro {
  margin: 0 auto;
  width: calc(100% - 40px);
  padding: 19px 0 0 0;
  position: relative;
  display: grid;
  align-items: start;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  grid-template-rows: repeat(auto-fill, minmax(60px, 1fr));
  grid-template-areas: "header header" "label image"  "title title"  "subtitle subtitle"  "board board"; }
  @media screen and (min-width: 768px) {
    .intro {
      width: calc(100% - 100px); } }
  .intro__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    min-width: 280px;
    margin: 0 0 43px 0;
    grid-area: header; }
  .intro__header-text {
    color: #fff;
    font: 400 13px/16px NotoSans;
    letter-spacing: 0.01em;
    display: none; }
  .intro__header-reg {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; }
  .intro__label {
    grid-area: label;
    justify-self: start;
    font: 400 12px/11px NotoSans;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 63px;
    height: 40px;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #5036E6;
    border-radius: 0 50px 50px 0; }
    @media screen and (min-width: 768px) {
      .intro__label {
        font-size: 13px;
        line-height: 18px; } }
  .intro__image {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/intro-image-320.svg);
    grid-area: image;
    min-height: 60px;
    min-width: 120px;
    justify-self: end; }
    @media screen and (min-width: 768px) {
      .intro__image {
        background-image: url(../images/intro-image-768.svg); } }
    @media screen and (min-width: 1024px) {
      .intro__image {
        background-image: url(../images/intro-image-1024.svg); } }
  .intro__board {
    grid-area: board;
    margin: 110px 0 0 0; }
  .intro__title {
    padding: 50px 0 0 0; }
  .intro__subtitle {
    padding: 20px 0 0 0; }
  @media screen and (min-width: 562px) {
    .intro__image {
      min-height: 90px;
      min-width: 180px; } }
  @media screen and (min-width: 768px) {
    .intro {
      grid-template-areas: "header header" "label label"  "title image"  "subtitle image"  "board image";
      padding: 26px 0 50px 0; }
      .intro__header-text {
        display: block;
        margin: 0 30px 0 0; }
      .intro__title {
        padding: 70px 0 0 0; }
      .intro__subtitle {
        padding: 40px 0 0 0; }
      .intro__image {
        min-width: 260px;
        min-height: 520px;
        margin-right: -180px;
        align-self: end; }
      .intro__board {
        justify-self: start;
        align-self: end;
        margin: 212px 0 0 0; } }

.team {
  box-sizing: border-box;
  padding: 20px 0 0 0;
  min-height: 642px;
  position: relative;
  background-color: #5036E6; }
  .team__swiper {
    height: 382px;
    margin: 60px 0 0 0; }
  .team__container {
    margin: 0 auto;
    width: calc(100% - 40px); }
    @media screen and (min-width: 768px) {
      .team__container {
        width: calc(100% - 100px); } }
  .team__title {
    min-width: 280px;
    width: 100%;
    word-wrap: break-word; }
  .team__subtitle {
    margin: 20px 0 0 0; }
  @media screen and (min-width: 768px) {
    .team {
      min-height: 836px;
      padding: 40px 0 0 0; }
      .team__subtitle {
        margin: 40px 0 0 0; }
      .team__swiper {
        padding: 140px 0 0 0;
        height: 415px; } }

.join-team {
  padding: 20px 0 0 0;
  min-height: 344px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #5036E6; }
  .join-team__text-container {
    margin: 0 auto;
    width: calc(100% - 40px);
    min-width: 280px; }
    @media screen and (min-width: 768px) {
      .join-team__text-container {
        width: calc(100% - 100px); } }
  .join-team__title {
    word-wrap: break-word; }
  .join-team__subtitle {
    margin: 20px 0 0 0; }
  .join-team__image {
    width: 100%;
    height: 100%;
    min-width: 280px;
    background-image: url(../images/join-image-320.svg);
    min-height: 140px;
    background-repeat: no-repeat;
    background-position: center; }
  @media screen and (min-width: 768px) {
    .join-team {
      padding: 0;
      min-height: 460px;
      flex-direction: row-reverse;
      justify-content: start; }
      .join-team__image {
        flex-basis: 420px;
        background-image: url(../images/join-image-768.svg);
        background-position: unset;
        min-height: 360px;
        margin-left: -180px; }
      .join-team__text-container {
        max-width: 478px; }
      .join-team__subtitle {
        margin: 40px 0 0 0; } }

.battles {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  box-sizing: border-box; }
  .battles__swiper {
    height: 314px; }
  .battles__container {
    margin: 0 auto;
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 652px; }
    @media screen and (min-width: 768px) {
      .battles__container {
        width: calc(100% - 100px); } }
  .battles__board {
    background-image: url(../images/square_green.svg);
    margin: 0 0 20px 0; }
  .battles__title {
    min-width: 280px;
    width: 100%;
    word-wrap: break-word;
    margin: 20px 0 0 0; }
  .battles__subtitle {
    margin: 20px 0 0 0; }

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  min-height: 282px;
  background-color: #5036E6; }
  .footer__club-name {
    font: 400 12px/16px NotoSans;
    color: #fff; }
    @media screen and (min-width: 768px) {
      .footer__club-name {
        font-size: 20px;
        line-height: 130%; } }
  .footer__copy {
    font: 400 12px/12px NotoSans;
    color: #8E9199;
    text-align: center;
    margin: 10px 0 40px 0; }

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font: 600 10px/18px NotoSans;
  color: #fff;
  letter-spacing: 0.01em;
  box-sizing: border-box;
  color: #fff;
  background-color: #009465;
  min-width: 140px;
  min-height: 30px;
  border-radius: 8px;
  text-decoration: none; }
  @media screen and (min-width: 768px) {
    .button {
      font-size: 13px;
      line-height: 18px; } }

@media screen and (min-width: 768px) {
  .button {
    min-width: 184px;
    min-height: 44px; } }
.swiper {
  min-width: 280px;
  width: 100%; }
  .swiper-slide {
    display: block;
    background-position: center;
    background-size: cover;
    max-width: 280px; }
  .swiper-wrapper {
    height: 100%;
    min-height: 314px;
    max-height: 344px; }
  .swiper-image {
    display: block;
    width: 280px;
    height: 280px;
    object-fit: cover;
    object-position: top center;
    filter: grayscale(100%);
    border-radius: 15px; }
  .swiper__bullet {
    background-origin: padding-box;
    cursor: pointer;
    display: inline-block;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    width: 8px;
    height: 8px;
    margin: 0 5px 0 5px; }
  .swiper__bullet-active {
    background-color: white; }
  .swiper__pagination {
    position: absolute;
    bottom: 0 !important;
    transition: .3s opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
    width: 100%;
    height: 8px;
    line-height: 0;
    text-align: center; }
  .swiper__title {
    font: 400 18px/23px NotoSans;
    color: #fff;
    letter-spacing: 0.055em;
    text-transform: uppercase;
    text-align: center;
    margin: 20px 0 0 0;
    z-index: 100; }
  .swiper__subtitle {
    font: 400 12px/16px NotoSans;
    color: #fff;
    text-align: center;
    margin: 5px 0 0 0; }
    @media screen and (min-width: 768px) {
      .swiper__subtitle {
        font-size: 20px;
        line-height: 130%; } }
  .swiper-image:hover {
    filter: grayscale(0); }
  @media screen and (min-width: 340px) {
    .swiper {
      width: 100vw; }
      .swiper__pagination {
        display: none;
        text-align: start; } }
  @media screen and (min-width: 768px) {
    .swiper {
      height: 415px; } }
  @media screen and (min-width: 1024px) {
    .swiper-image {
      width: 320px;
      height: 320px; }
    .swiper-slide {
      max-width: 320px; } }

.logo {
  background-image: url(../images/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10; }
  .logo_style_header {
    width: 26px;
    height: 36px; }
  .logo_style_footer {
    margin-top: 40px;
    width: 38px;
    height: 54px; }
  @media screen and (min-width: 768px) {
    .logo_style_header {
      width: 38px;
      height: 54px; } }

/*# sourceMappingURL=styles.css.map */
